@using Microsoft.AspNetCore.Http.Headers
<!DOCTYPE html>
<meta charset="utf-8">
<title>adfadskhadjadfjvf</title>

@{
    Context.Response.Redirect("~/Authorization/login/");
    Context.Response.Redirect("window.location.href='/Authorization/login/'");
}